extends layout

block content

    div.container
        h2 Userlist
        table.table.table-bordered
            thead
                tr
                    th username
                    th email
                    th actions

            tbody
                each user, i in userlist
                    tr
                        form#userUpdateForm.container(name="adduser",method="post",action="/user/update", style="margin-top:200px")
                            input(type="hidden", name="userId")
                            td 
                                label #{user.username}
                                input(type="text", style="display:none", value="#{user.username}",class="#{user._id}", name="username")
                            td 
                                label #{user.email}
                                input(type="text", style="display:none", value="#{user.email}",class="#{user._id}", name="useremail")
                            td 
                                a(href='/user/delete/#{user._id}') delete 
                                a(href='/user/edit/#{user._id}') edit 
                                
        a(href="/user/create") New user

