extends ../layout

block content

    div.container(ng-controller="VocabularyCtrl")
        h2 Vocabulary
        p
            button.btn.btn-default(data-toggle="modal", data-target="#vocabularyModal", ng-click='select({})') Add vocabulary
        
        table.table
            thead.thead-inverse
                tr
                    th.col-md-1.center Image
                    th.col-md-9 Words
                    th.col-md-2 Actions

            tbody
                tr(ng-repeat="vocabulary in vocabularies")
                    td.center
                        div.pic-bl
                            image.table-image(ng-src="{{vocabulary.imageUrl}}", src="/images/no-image.png")
                    td
                        ul
                            li(ng-repeat="word in vocabulary.words") {{word.text}}
                    td
                        button.btn.btn-default.btn-xs(data-toggle="modal", 
                                                      data-target="#vocabularyModal", 
                                                      ng-click='select(vocabulary)') 
                            span.glyphicon.glyphicon-pencil
                            span  Edit
                        span &nbsp
                        button.btn.btn-danger.btn-xs(ng-click='remove($event, vocabulary)')  
                            span.glyphicon.glyphicon-trash
                            //- span  Delete


        div#vocabularyModal.modal.fade(role="dialog")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal") &times;
                        h4.modal-title Vocabulary
                    div.modal-body
                        div
                            form
                                //- div.form-group
                                //-     label(for="text") Text:
                                //-     input.form-control(ng-model="selected.text")
                                div.form-group
                                    label(for="word") Words:
                                    select.form-control(multiple,
                                                        style="height: 300px;",
                                                        ng-model="selected.words",
                                                        ng-model-options="{ updateOn: 'blur' }",  
                                                        ng-options="item._id as item.text for item in words track by item._id")
                                
                    div.modal-footer
                        button.btn.btn-primary(data-dismiss="modal", ng-click='save()') Save
                        button.btn.btn-default(data-dismiss="modal") Close